.Logo {
    font-family: Comfortaa;
    font-size: 3rem;
}

.navlist {
    font-family: Comfortaa;
    font-size: 2rem;
}

.navlist li {
    list-style: none;
}

.search {
    height: 100px;
}

.inputSearch {
    width: 300px;
    background-color: #FFCCFD;
    border: none;
    border-radius: 20px;
    background-image: url('../icons/search.png');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

.links {
    background-color: #330031;
    color: white;
}



.footerBox {
    list-style: circle;
    width: 25%;
    border-right: white solid 3px;
}

.footerBox:last-child {
    border-right: white solid 0px;
}

.footerBoxfont {
    color: white;
    font-weight: bold;
    font-size: large;
    font-family: Comfortaa;
}