.Logo {
    font-family: Comfortaa;
    font-size: 1.5rem;
}

.navlist {
    font-family: Comfortaa;
    font-size: 1.5rem;
}

.navlist li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.search {
    height: 100px;
}

.inputSearch {
    width: 300px;
    background-color: #FFCCFD;
    border: none;
    border-radius: 20px;
    background-image: url('../icons/search.png');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

.inputSearch::placeholder {
    color: white;
    font-size: 20px;
}

.links {
    background-color: #330031;
    color: white;
}

.heroSection {
    border-bottom-right-radius: 180px 180px;
    background: linear-gradient(to bottom right, #CA26FF 7%, #F4CAC0 85%, #FFF3B0 100%);
}

.title, .subtitle, .heroparagh {
    font-family: Comfortaa;
}

.line-text {
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0px;
  }
  
  .line-text span {
    margin-left: 30px;
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 20px;
    background: #fff;
    padding: 5px 10px;
    letter-spacing: 5px;
  }

.title {
    font-size: 80px;
    letter-spacing: 10px;
}

.subtitle {
    font-size: 60px;
    color: white;
    letter-spacing: 16px;
}

.heroparagh {
    padding-top: 20px;
    margin-left: 30px;
    font-size: 30px;
    line-height: 40px;
    color: white;
}

.herobutton {
    border: none;
    border-radius: 40px;
    font-size: 24px;
    color: #FFCCFD;
    background-color: #330031;
    cursor: pointer;
}

.topbtn {
    width: 250px;;
    font-family: Comfortaa;
    letter-spacing: 4px;
    border: none;
    border-radius: 40px;
    font-size: 18px;
    color: white;
    background-color: #330031;
    cursor: pointer;
}

.explore {
    font-family: Comfortaa;
    font-size: 64px;
    letter-spacing: 8px;
} 

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 0fr); 
    gap: 20px;
}

.service {
    font-family: Comfortaa;
    font-size: 58px;
    padding-bottom: 40px;
    margin-left: 170px;
}

.serviceBox {
    width: 400px;
}

.categorys {
    padding-top: 30px;
    font-size: 20px;
    font-family: Comfortaa;
    padding-bottom: 5px;
    gap: 25px;
    border-bottom: 1px solid gray;
}

.micro-category {
    font-weight: 980px;
    color: black;
    opacity: 60%;
    transform: scale(2.5);
}

.micro-category:hover {
    opacity: 100%;
    border-bottom: 8px solid #933C24;
    border-radius: 3px;
}

.exploreImage {
    border-radius: 25px;
}

.sBoxHead {
    border-radius: 10px;
    background-color: #330031;
    font-family: Comfortaa;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 6px;
    color: white;

}

.sBoxParagh {
    font-family: Comfortaa;
    letter-spacing: 3px;
}

.btnBox {
    width: 400px;
}

.footerBox {
    list-style: circle;
    width: 25%;
    border-right: white solid 3px;
}

.footerBox:last-child {
    border-right: white solid 0px;
}

.footerBoxfont {
    color: white;
    font-weight: bold;
    font-size: large;
    font-family: Comfortaa;
}