.Logo {
    font-family: Comfortaa;
    font-size: 3rem;
}

.navlist {
    font-family: Comfortaa;
    font-size: 2rem;
}

.navlist li {
    list-style: none;
}

.search {
    height: 100px;
}

.inputSearch {
    width: 300px;
    background-color: #FFCCFD;
    border: none;
    border-radius: 20px;
    background-image: url('../icons/search.png');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}